@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

header {
  background-color: #82c836;
  padding: 25px 0;
  
  h1 {
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    color: white;
    font-size: 1rem;

    @media (min-width: 768px){
      font-size: 2rem;
    }
  }
}