*,*::before,*::after {
  box-sizing: border-box;
}
h1, h2 {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  padding: 36px 0;
}